"*":
  "atom-spotify2":
    displayOnLeftSide: false
  "autocomplete-plus": {}
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "sync-settings"
    ]
  editor:
    fontSize: 9
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "e174c34f-c3f8-3a4b-c424-2f81e564f609"
  linter: {}
  "linter-scss-lint":
    executablePath: "/usr/bin/scss-lint"
  "project-manager": {}
  "sync-settings":
    _analyticsUserId: "b7c50097-488e-48b0-a5a4-ba825c37c7a2"
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
