"gtc-polnocna":
  title: "gtc-polnocna"
  paths: [
    "/Volumes/michal.skora/htdocs/gtc-polnocna"
  ]
klif_warszawa:
  title: "klif_warszawa"
  paths: [
    "/Volumes/michal.skora/htdocs/klif_warszawa"
  ]
sexnord:
  title: "sexnord"
  paths: [
    "/Volumes/michal.skora/htdocs/sexnord"
  ]
"xsolve-pl":
  title: "xsolve-pl"
  paths: [
    "/Volumes/michal.skora/htdocs/xsolve-pl"
  ]
klif_gdynia:
  title: "klif_gdynia"
  paths: [
    "/Volumes/michal.skora/htdocs/klif_gdynia"
  ]
"xsolve-blog":
  title: "xsolve-blog"
  paths: [
    "/Volumes/michal.skora/htdocs/xsolve-blog"
  ]
"planet-escape":
  title: "planet-escape"
  paths: [
    "/Volumes/michal.skora/htdocs/planet-escape"
  ]
