"gtc-polnocna":
  title: "gtc-polnocna"
  paths: [
    "/Volumes/michal.skora/htdocs/gtc-polnocna"
  ]
klif_warszawa:
  title: "klif_warszawa"
  paths: [
    "/Volumes/michal.skora/htdocs/klif_warszawa"
  ]
